<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Dashboard</h3>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <div class="das-sec-1">
                        <div class="sec-1-box bc1">
                            <table>
                                <tbody>
                                    <tr>
                                        <td scope="row">New Deamand Request</td>
                                        <td class="br1">00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec-1-box bc2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td scope="row">Accepted</td>
                                        <td class="br2">00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec-1-box bc3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td scope="row">Pending Acceptance</td>
                                        <td class="br3">00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec-1-box bc4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td scope="row">Rejected</td>
                                        <td class="br4">00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec-1-box bc5">
                            <table>
                                <tbody>
                                    <tr>
                                        <td scope="row">Revision Requested</td>
                                        <td class="br5">00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="das-sec-2">
                        <div class="b-a">
                            <div class=" pb panel-body">
                                <h5>Quick Links</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="sec-2-box">
                                            <img src="../../../assets/img/SRLM/account.png" alt="img">
                                            <h6>Account Statement</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="sec-2-box">
                                            <img src="../../../assets/img/SRLM/transfer.png" alt="img">
                                            <h6>Transfer Payments</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="sec-2-box">
                                            <img src="../../../assets/img/SRLM/sakhi-payments.png" alt="img">
                                            <h6>BC Sakhi Payments</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="sec-2-box">
                                            <img src="../../../assets/img/SRLM/vendor.png" alt="img">
                                            <h6>Vendor Registration</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="das-sec-3">
                        <div class="b-a">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="sec-3-box">
                                                    <img src="../../../assets/img/SRLM/schema.png" alt="img"
                                                        style="width: 25%;">
                                                    <div class="ps">
                                                        <h5>Schema Wise</h5>
                                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="sec-3-box bg">
                                                    <img src="../../../assets/img/SRLM/classification.png" alt="img"
                                                        style="width: 25%;">
                                                    <div class="ps">
                                                        <h5>Classification Wise</h5>
                                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="color: black; font-weight: 500;">Select date range for viewing the
                                            dashboard information</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="date-lab">From</label>
                                                <input class="date-box sec-3-box" type="date" name="" id="">
                                                <!-- <div class="sec-3-box date-box">
                                                    <label>From</label>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </div> -->
                                            </div>
                                            <div class="col-md-6">
                                                <label class="date-lab">To</label>
                                                <input class="date-box sec-3-box" type="date" name="" id="">
                                                <!-- <div class="sec-3-box date-box">
                                                    <label>To</label>
                                                    <input type="date" name="" id="">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="das-sec-4">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box_shadow">
                                            <div class="sec-4-box">
                                                <div class="sec-4-box-sub">
                                                    <span class="bud_sp">Budget</span>
                                                    <h5>Administrative Expenditures</h5>
                                                    <p>01/04/2022 - 31/03/2023</p>
                                                    <p>Interim Unaudited Financial Report (IUFR)</p>
                                                    <div class="sub-sec-4-box">
                                                        <span>Total Budget</span>
                                                        <h4> ₹ 135,684,8759</h4>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span class="title timer" data-from="0" data-to="30" data-speed="1800">30%</span>
                                                    <div class="spent">SPENT</div>
                                                    <div class="overlay"></div>
                                                    <div class="left"></div>
                                                    <div class="right"></div>
                                                </div>
                                            </div>
                                            <div class="sec-4-box-bottom">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <span>PENDING AMOUNT</span>
                                                                <h4>₹ 5,684,8759</h4>
                                                            </td>
                                                            <td class="br">
                                                                <span>SPENT AMOUNT</span>
                                                                <h4>₹ 684,8749</h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box_shadow">
                                            <div class="sec-4-box">
                                                <div class="sec-4-box-sub">
                                                    <span class="bud_sp">Budget</span>
                                                    <h5>Administrative Expenditures</h5>
                                                    <p>01/04/2022 - 31/03/2023</p>
                                                    <p>Interim Unaudited Financial Report (IUFR)</p>
                                                    <div class="sub-sec-4-box">
                                                        <span>Total Budget</span>
                                                        <h4> ₹ 135,684,8759</h4>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span class="title timer" data-from="0" data-to="30" data-speed="1800">30%</span>
                                                    <div class="spent">SPENT</div>
                                                    <div class="overlay"></div>
                                                    <div class="left"></div>
                                                    <div class="right"></div>
                                                </div>
                                            </div>
                                            <div class="sec-4-box-bottom">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <span>PENDING AMOUNT</span>
                                                                <h4>₹ 5,684,8759</h4>
                                                            </td>
                                                            <td class="br">
                                                                <span>SPENT AMOUNT</span>
                                                                <h4>₹ 684,8749</h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="b-a">
                                    <div class="panel-body">
                                        <div class="policy-thum">
                                            <img src="../../../assets/img/SRLM/policy.png" alt="" style="width: 21%;">
                                            <h5>Policy Violation <span>!</span></h5>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt=""
                                                    style="width: 6%;"> 13 Invoice Payments Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt=""
                                                    style="width: 6%;"> 10 Utilization Certificate Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt=""
                                                    style="width: 6%;"> 5 Vendor Progress Incomplete</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="das-sec-4">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box_shadow">
                                            <div class="sec-4-box">
                                                <div class="sec-4-box-sub">
                                                    <span class="bud_sp">Budget</span>
                                                    <h5>Administrative Expenditures</h5>
                                                    <p>01/04/2022 - 31/03/2023</p>
                                                    <p>Interim Unaudited Financial Report (IUFR)</p>
                                                    <div class="sub-sec-4-box">
                                                        <span>Total Budget</span>
                                                        <h4> ₹ 135,684,8759</h4>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span class="title timer" data-from="0" data-to="30" data-speed="1800">30%</span>
                                                    <div class="spent">SPENT</div>
                                                    <div class="overlay"></div>
                                                    <div class="left"></div>
                                                    <div class="right"></div>
                                                </div>
                                            </div>
                                            <div class="sec-4-box-bottom">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <span>PENDING AMOUNT</span>
                                                                <h4>₹ 5,684,8759</h4>
                                                            </td>
                                                            <td class="br">
                                                                <span>SPENT AMOUNT</span>
                                                                <h4>₹ 684,8749</h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box_shadow">
                                            <div class="sec-4-box">
                                                <div class="sec-4-box-sub">
                                                    <span class="bud_sp">Budget</span>
                                                    <h5>Administrative Expenditures</h5>
                                                    <p>01/04/2022 - 31/03/2023</p>
                                                    <p>Interim Unaudited Financial Report (IUFR)</p>
                                                    <div class="sub-sec-4-box">
                                                        <span>Total Budget</span>
                                                        <h4> ₹ 135,684,8759</h4>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span class="title timer" data-from="0" data-to="30" data-speed="1800">30%</span>
                                                    <div class="spent">SPENT</div>
                                                    <div class="overlay"></div>
                                                    <div class="left"></div>
                                                    <div class="right"></div>
                                                </div>
                                            </div>
                                            <div class="sec-4-box-bottom">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <span>PENDING AMOUNT</span>
                                                                <h4>₹ 5,684,8759</h4>
                                                            </td>
                                                            <td class="br">
                                                                <span>SPENT AMOUNT</span>
                                                                <h4>₹ 684,8749</h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="b-a">
                                    <div class="panel-body">
                                        <div class="policy-thum">
                                            <img src="../../../assets/img/SRLM/policy.png" alt="" style="width: 21%;">
                                            <h5>Policy Violation <span>!</span></h5>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 13 Invoice
                                                Payments Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 10 Utilization
                                                Certificate Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 5 Vendor
                                                Progress Incomplete</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="das-sec-4">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box_shadow">
                                            <div class="sec-4-box">
                                                <div class="sec-4-box-sub">
                                                    <span class="bud_sp">Budget</span>
                                                    <h5>Administrative Expenditures</h5>
                                                    <p>01/04/2022 - 31/03/2023</p>
                                                    <p>Interim Unaudited Financial Report (IUFR)</p>
                                                    <div class="sub-sec-4-box">
                                                        <span>Total Budget</span>
                                                        <h4> ₹ 135,684,8759</h4>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span class="title timer" data-from="0" data-to="30" data-speed="1800">30%</span>
                                                    <div class="spent">SPENT</div>
                                                    <div class="overlay"></div>
                                                    <div class="left"></div>
                                                    <div class="right"></div>
                                                </div>
                                            </div>
                                            <div class="sec-4-box-bottom">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <span>PENDING AMOUNT</span>
                                                                <h4>₹ 5,684,8759</h4>
                                                            </td>
                                                            <td class="br">
                                                                <span>SPENT AMOUNT</span>
                                                                <h4>₹ 684,8749</h4>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="sec-4-box">
                                            <div class="sec-4-box-sub">
                                                <span>Budget</span>
                                                <h5>Administrative Expenditures</h5>
                                                <p>01/04/2022 - 31/03/2023</p>
                                                <p>Interim Unaudited Financial Report (IUFR)</p>
                                                <div class="sub-sec-4-box">
                                                    <span>Total Budget</span>
                                                    <h4> ₹ 135,684,8759</h4>
                                                </div>
                                            </div>
                                            <img src="../../../assets/img/SRLM/schema.png" alt="img" style="width: 25%;">
                                        </div>
                                        <div class="sec-4-box-bottom">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">
                                                            <span>PENDING AMOUNT</span>
                                                            <h4>₹ 5,684,8759</h4>
                                                        </td>
                                                        <td class="br">
                                                            <span>SPENT AMOUNT</span>
                                                            <h4>₹ 684,8749</h4>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="b-a">
                                    <div class="panel-body">
                                        <div class="policy-thum">
                                            <img src="../../../assets/img/SRLM/policy.png" alt="" style="width: 21%;">
                                            <h5>Policy Violation <span>!</span></h5>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 13 Invoice
                                                Payments Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 10 Utilization
                                                Certificate Delayed</p>
                                            <p><img src="../../../assets/img/SRLM/yello-error.png" alt="" style="width: 6%;"> 5 Vendor
                                                Progress Incomplete</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="das-sec-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="das-sec-5-box">
                                    <div class="payment_req">
                                        <div>
                                            <h6><img src="../../../assets/img/SRLM/pay-req.png" alt=""> Payment Request
                                            </h6>
                                        </div>
                                        <span>TODAY</span>
                                    </div>
                                    <div class="bb"></div>
                                    <div class="sub_payment_req">
                                        <h4>Agra</h4>
                                        <p>New Demand Request for<span> ₹135,684,8759 </span>raised under Administrative
                                            Expenditures</p>
                                        <div class="bb"></div>
                                    </div>
                                    <div class="sub_payment_req">
                                        <h4>Agra</h4>
                                        <p>New Demand Request for<span> ₹135,684,8759 </span>raised under Administrative
                                            Expenditures</p>
                                    </div>
                                    <div class="bb"></div>
                                    <div class="payment_bottom_line">
                                        <small>20 Payment Requests raised today !</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="das-sec-5-box">
                                    <div class="payment_req">
                                        <div>
                                            <h6><img src="../../../assets/img/SRLM/pay-pros.png" alt=""> Payment
                                                Processed
                                            </h6>
                                        </div>
                                        <span>TODAY</span>
                                    </div>
                                    <div class="bb"></div>
                                    <div class="sub_payment_req">
                                        <h4>Agra</h4>
                                        <p>New Demand Request for<span> ₹135,684,8759 </span>raised under Administrative
                                            Expenditures</p>
                                        <div class="bb"></div>
                                    </div>
                                    <div class="sub_payment_req">
                                        <h4>Agra</h4>
                                        <p>New Demand Request for<span> ₹135,684,8759 </span>raised under Administrative
                                            Expenditures</p>
                                    </div>
                                    <div class="bb"></div>
                                    <div class="payment_bottom_line">
                                        <small>16 Payment Requests raised today !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="das-sec-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table_sec">
                                    <h5>District Summary</h5>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 4%;">#</th>
                                                <th class="text_left fs">District</th>
                                                <th>New Demand Requests</th>
                                                <th style="width: 9%;">Accepted</th>
                                                <th>Pending Acceptance</th>
                                                <th style="width: 9%;">Rejected</th>
                                                <th>Revision Requested</th>
                                                <th style="width: 9%;">Violations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">1</td>
                                                <td class="text_left">Agra</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">2</td>
                                                <td class="text_left">Aligarh</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">3</td>
                                                <td class="text_left">Ambedkar Nagar</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">4</td>
                                                <td class="text_left">Amroha</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">5</td>
                                                <td class="text_left">Auraiya</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">6</td>
                                                <td class="text_left">Azamgarh</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">7</td>
                                                <td class="text_left">Badaun</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">8</td>
                                                <td class="text_left">Bahraich</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">9</td>
                                                <td class="text_left">Balrampur</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">10</td>
                                                <td class="text_left">Banda District</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">11</td>
                                                <td class="text_left">Barabanki</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">12</td>
                                                <td class="text_left">Bareilly</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">13</td>
                                                <td class="text_left">Basti</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">14</td>
                                                <td class="text_left">Bijnor</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">15</td>
                                                <td class="text_left">Bulandshahr</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">16</td>
                                                <td class="text_left">Chandauli</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">17</td>
                                                <td class="text_left">Aligarh</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">18</td>
                                                <td class="text_left">Chitrakoot</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">19</td>
                                                <td class="text_left">Pryagraj</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">20</td>
                                                <td class="text_left">Ballia</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                                <td>00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>