<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-red lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h3 class="m-n font-thin text-white">
            View Scheme Budget</h3>
        </div>
      </div>
    </div>

    <div class="wrapper-md">
      <div class="panel b-a">
        <div class="panel-body">
          <div class="formBody">
            <table class="table">
              <tbody>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme :</label></td>
                  <td> <label>Code :</label> <br> <label>Description :</label></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme Type :</label></td>
                  <td> <label>Code :</label> <br> <label>Description :</label></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme Alias :</label>
                  </td>
                  <td> <label>Name :</label> FPO <br> <label>Description :</label> Farmer Producer Organization</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Budget Code :</label></td>
                  <td>B.3.7.1, B.3.7.2, B.3.7.3, B.3.7.4</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Budget Description
                      :</label></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>SPM Name :</label></td>
                  <td>RAMESH SHANKARPRASAD</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Limit :</label></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Validity :</label></td>
                  <td> <label>From :</label> <label>To :</label> </td>
                </tr>
              </tbody>
            </table>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <label class="label_fs">verification Sample Document</label>
                  <div>
                    <a id="" class="btn btn-default" href="#" role="button">view</a>
                    <a id="download_btn" class="btn btn-primary" href="#" role="button">Download</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="label_fs">Document list</label>
                  <div>
                    <tr style="display: grid;">
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                    </tr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


