<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-red lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h3 class="m-n font-thin text-white">
            View Scheme Budget</h3>
        </div>
      </div>
    </div>

    <div class="wrapper-md">
      <div class="panel b-a">
        <div class="panel-body">
          <div class="formBody">
            <table class="table">
              <tbody>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme :</label></td>
                  <td> <label>Code :</label> <br> <label>Description :</label></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme Type :</label></td>
                  <td> <label>Code :</label> <br> <label>Description :</label></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Scheme Alias :</label>
                  </td>
                  <td> <label>Name :</label> FPO <br> <label>Description :</label> Farmer Producer Organization</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Budget Code :</label></td>
                  <td>B.3.7.1, B.3.7.2, B.3.7.3, B.3.7.4</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Budget Description
                      :</label></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>SPM Name :</label></td>
                  <td>RAMESH SHANKARPRASAD</td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Limit :</label></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="formBody_td" style="vertical-align: inherit;" scope="row"><label>Validity :</label></td>
                  <td> <label>From :</label> <label>To :</label> </td>
                </tr>
              </tbody>
            </table>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <label class="label_fs">verification Sample Document</label>
                  <div>
                    <a id="" class="btn btn-default" href="#" role="button">view</a>
                    <a id="download_btn" class="btn btn-primary" href="#" role="button">Download</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="label_fs">Document list</label>
                  <div>
                    <tr style="display: grid;">
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                      <td><i aria-hidden="true" class="fa fa-check-circle-o"></i> Registration Certificate</td>
                    </tr>
                  </div>
                </div>
              </div>
            </div>











            
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="top_border"></div>
                  <div class="gst_box">
                    <div class="gst_flex_cont">
                      <h2>GST Certificate</h2>
                      <div class="icon_box">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                    <h4><i class="fa fa-info-circle info" aria-hidden="true"></i> Pending</h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="top_border2"></div>
                  <div class="gst_box">
                    <div class="gst_flex_cont">
                      <h2>GST Certificate</h2>
                      <div class="icon_box">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                    <h4><i class="fa fa-info-circle upload" aria-hidden="true"></i> Uploaded</h4>
                    <table class="table">

                      <tbody>
                        <tr>
                          <td scope="row">Uploaded: <span>Aug 30,2022</span></td>
                          <td>Verified: <span>Pending</span></td>
                        </tr>
                        <tr>
                          <td scope="row">Uploaded by <span>Sujeet Yadav</span></td>
                          <td>Verified by <span>Pending</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="top_border3"></div>
                  <div class="gst_box">
                    <div class="gst_flex_cont">
                      <h2>GST Certificate</h2>
                      <div class="icon_box">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                    <h4><i class="fa fa-check-circle green" aria-hidden="true"></i> Verified</h4>
                    <table class="table">

                      <tbody>
                        <tr>
                          <td scope="row">Uploaded: <span>Aug 30,2022</span></td>
                          <td>Verified: <span>Sep 01,2022</span></td>
                        </tr>
                        <tr>
                          <td scope="row">Uploaded by <span>Sujeet Yadav</span></td>
                          <td>Verified by <span>Rahul Nath</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>